#[easy language programing]
# {low level = true}

p = pointer = *

mul = x = multiply

ei = ~ = enter in

tb = < = trafic for bahind

tf = > = trafic for front

top = ^ = top

div = / = division

por = % = porcent

ask = ? = ask

mi = - = less

hash = # = hashtag marcation for value

wall = | = stop math
